# Pandas Notes

> Pandas is an open-source library that is built on top of NumPy library. It is a Python package that offers various\
> data structures and operations for manipulating numerical data and time series. It is mainly popular for importing and \
> analyzing data much easier. Pandas is fast and it has high-performance & productivity for user

Pandas DataFrame 
- Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). \
- A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. \
- Pandas DataFrame consists of three principal components, the data, rows, and columns.

In [1]:
import pandas as pd
import numpy as np
import datetime

In [5]:

list1 = ['zeeshan', 'sarwar', 'hello', 'world', 'dataframe', 'pandas']
titles= {"Name": list1}
df = pd.DataFrame(list)
print(df)

        Name
0    zeeshan
1     sarwar
2      hello
3      world
4  dataframe
5     pandas

Python | Pandas Series

- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 
- The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.
- Labels need not be unique but must be a hashable type
- More details : [https://www.geeksforgeeks.org/python-pandas-series/#Basics4]

In [2]:
# a simple list
list2 = ['german', 'english', 'english', 'french', 'serbian']
  
# create series form a list
ser = pd.Series(list)
print(ser)

0    <class 'list'>
dtype: object

In [3]:
print(ser[1:3])

Series([], dtype: object)

In [4]:
der = list("zeeshan")
print(der)

['z', 'e', 'e', 's', 'h', 'a', 'n']

In [9]:
list_sam1 = [1,2, 'zeeshan', True]
data_p1 = pd.Series(list_sam1)
print(data_p1)

0          1
1          2
2    zeeshan
3       True
dtype: object

In [14]:
data = np.array(list("zeeshansarwar"))
example1 = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])
print(example1)

10    z
11    e
12    e
13    s
14    h
15    a
16    n
17    s
18    a
19    r
20    w
21    a
22    r
dtype: object

pandas.array() function in Python

This method is used to create an array from a sequence in desired data type.\

> Syntax : pandas.array(data: Sequence[object], dtype: Union[str, numpy.dtype, pandas.core.dtypes.base.ExtensionDtype, NoneType] = None, copy: bool = True)\

Parameters :

- data : Sequence of objects. The scalars inside `data` should be instances of the scalar type for `dtype`. It’s expected that `data` represents a 1-dimensional array of data. When `data` is an Index or Series, the underlying array will be extracted from `data`.
- dtype : tr, np.dtype, or ExtensionDtype, optional. The dtype to use for the array. This may be a NumPy dtype or an extension type registered with pandas.
- copy : bool, default True. Whether to copy the data, even if not necessary. Depending on the type of `data`, creating the new array may require copying data, even if “copy=False“.

In [19]:
# create Pandas array with dtype string
pd_arr = pd.array(data=[1,2,3,4,5,6], dtype = float)
  
# print the formed array
print(pd_arr)

<PandasArray>
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
Length: 6, dtype: float64

## Python | Pandas DataFrame

- Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
- A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 
- Pandas DataFrame consists of three principal components, the data, rows, and columns.
- [https://www.geeksforgeeks.org/python-pandas-dataframe/]

### Creating a Pandas DataFrame
- In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, and Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionary etc. 
- Dataframe can be created in different ways here are some ways by which we create a dataframe:

In [15]:
# list of strings
lst_sample = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst_sample)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

# Notes : 
- .tolist() -- to convert a series to list
- df.drop([columns], axis=1)
- df.replace({original:new,}) --replace the original value with the new value
- df.sort_values('column', ascending=True) -- sort the dataframe by column in ascending order
- pd.concat(df1, df2)  -- concatenate two dataframes
- df['columns'].mean() -- method for finding the mean of the column
- df['columns'].sum() -- method for finding the sum of the column
- df.loc['index','columns'] -- method for finding specific elements of the  
- df.append(df) -- append values to the end of the df

# Important Links: 
- [https://www.askpython.com/python/pandas-dataframe-vs-numpy-arrays]
-

#### df.iterrows() -- Iterate over DataFrame rows as (index, Series) pairs.

- df['column'] --> returns the column as series
- df.loc['index'] --> returns the row as series
- Also the above can be used to add rows/columns to the dataframe

Label vs. Location
The main distinction between the two methods is:

loc gets rows (and/or columns) with particular labels.

iloc gets rows (and/or columns) at integer locations.

To demonstrate, consider a series s of characters with a non-monotonic integer index:

>>> s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
49    a
48    b
47    c
0     d
1     e
2     f

>>> s.loc[0]    # value at index label 0
'd'

>>> s.iloc[0]   # value at index location 0
'a'

>>> s.loc[0:1]  # rows at index labels between 0 and 1 (inclusive)
0    d
1    e

>>> s.iloc[0:1] # rows at index location between 0 and 1 (exclusive)
49    a

> [https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different]

In [13]:
arr = np.array([1, 2, 3, 4, 5, 'hello'])
print(arr)

['1' '2' '3' '4' '5' 'hello']

In [ ]:
data = {'Name':["Tommy","Linda","Justin","Brendon"], 'Age':[31,24,16,22]}
df=pd.DataFrame(data)
print(df)

In [2]:
exam_data = {
            'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
            'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
            }

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [49]:
print(f"{len(data.index)}")
print(f"{len(data.columns)}")

print(data)

10
4
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [51]:
print(data.loc['e'])

name        Emily
score           9
attempts        2
qualify        no
Name: e, dtype: object

In [8]:
df1 = pd.DataFrame({
    'a' : [4, 5, 6],
    'b' : [7, 8, 9],
    'c' : [10, 11, 12]
}, index=[1, 2, 3])
print(df1)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [9]:
df2 = pd.DataFrame([
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]], index=[1, 2, 3], columns=['a', 'b', 'c'])
print(df2)

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12