# Pandas Exercises

In [1]:
import numpy as np
import datetime
import pandas as pd

Question 1
> Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
try:
    Original_list = list(range(72,91))
    print(f"\n---------------------------------------\n")
    print(f"Original-list : {Original_list}")
    pandas_array = pd.array(Original_list)
    print(f"One-dimensional pandas array : {pandas_array}")
    print(f"\n---------------------------------------\n")
    
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Original-list : [72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
One-dimensional pandas array : <IntegerArray>
[72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
Length: 19, dtype: Int64

---------------------------------------

Executed successfully on 2022-07-11 18:14:42.862037

Question 2
> Write a Python program to convert a Panda module Series to Python list and it's type.
>

In [3]:
try:
    Original_list = list(range(72,91))
    print(f"\n---------------------------------------\n")
    pandas_array = pd.Series(Original_list)
    print(f"Panda module Series : \n{pandas_array} and the type is : {type(pandas_array)}")
    converted_list = pandas_array.tolist()
    print(f"\nPython list : {converted_list} and the type is : {type(converted_list)}")
    
    print(f"\n---------------------------------------\n")
    
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Panda module Series :
0     72
1     73
2     74
3     75
4     76
5     77
6     78
7     79
8     80
9     81
10    82
11    83
12    84
13    85
14    86
15    87
16    88
17    89
18    90
dtype: int64 and the type is : <class 'pandas.core.series.Series'>

Python list : [72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90] and the type is : <class 'list'>

---------------------------------------

Executed successfully on 2022-07-11 19:21:41.105345

Question 3   
> Write a Python program to add, subtract, multiple and divide two Pandas Series.\
> Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
>

In [4]:
try:
    series_1 = pd.Series([2, 4, 6, 8, 10])
    series_2 = pd.Series([1, 3, 5, 7, 9])
    print(f"\n---------------------------------------\n")
    #print(f"Sample series 01 : \n{series_1}")
    #print(f"Sample series 02 : \n{series_2}")
    print(f"Sample series addition : \n{series_1+series_2}")
    print(f"Sample series subtraction : \n{series_1-series_2}")
    print(f"Sample series multiplication : \n{series_1*series_2}")
    print(f"Sample series division : \n{series_1/series_2}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Sample series addition :
0     3
1     7
2    11
3    15
4    19
dtype: int64
Sample series subtraction :
0    1
1    1
2    1
3    1
4    1
dtype: int64
Sample series multiplication :
0     2
1    12
2    30
3    56
4    90
dtype: int64
Sample series division :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

---------------------------------------

Executed successfully on 2022-07-11 19:31:52.186405

Question 4
> Write a Python program to get the powers of an array values element-wise.\
> Note: First array elements raised to powers from second array\
> Expected Output:\
> Original array\
> [0 1 2 3 4 5 6]\
> First array elements raised to powers from second array, element-wise:\
> [ 0 1 8 27 64 125 216]

In [5]:
try:
    array_1 = [0, 1, 2, 3, 4, 5, 6]
    array_2 = [3, 3, 3, 3, 3, 3, 3]
    print(f"\n---------------------------------------\n")
    print(f"Sample series 01 : \n{array_1}")
    print(f"Sample series 02 : \n{array_2}")
    output_array = [array_1[i]**array_2[i] for i in range(len(array_1))]
    pandas_data = pd.DataFrame(output_array)
    print(f"First array elements raised to powers from second array, element-wise: : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Sample series 01 :
[0, 1, 2, 3, 4, 5, 6]
Sample series 02 :
[3, 3, 3, 3, 3, 3, 3]
First array elements raised to powers from second array, element-wise: :
     0
0    0
1    1
2    8
3   27
4   64
5  125
6  216

---------------------------------------

Executed successfully on 2022-07-12 09:43:41.629017

Question 5
> Write a Python program to create and display a DataFrame from a specified dictionary\
> data which has the index labels.\
> Sample Python dictionary data and list labels:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',\
> 'Matthew', 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [4]:
exam_data = {
            'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
            'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
            }

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The provided data : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The provided data :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---------------------------------------

Executed successfully on 2022-07-12 15:44:17.477879

Question 6 
> Write a Python program to display a summary of the basic information about a specified Data Frame and its data.
> Sample Python dictionary data and list labels:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [6]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    #print(f"The provided data : \n{pandas_data}")
    print(f"The description of the data : \n{pandas_data.describe()}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The description of the data :
           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

---------------------------------------

Executed successfully on 2022-07-12 15:44:32.219050

Question 7
> Write a Python program to get the first 3 rows of a given DataFrame.\
> Sample Python dictionary data and list labels:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes','no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [7]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    #print(f"The provided data : \n{pandas_data}")
    print(f"The first 3 rows of the data : \n{pandas_data.head(3)}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The first 3 rows of the data :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

---------------------------------------

Executed successfully on 2022-07-12 15:44:36.709358

Question 8
> Write a Python program to select the 'name' and 'score' columns from the following DataFrame.\
> Sample Python dictionary data and list labels:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [9]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The 'name' and 'score' columns of the data : \n{pandas_data[['name', 'score']]}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The 'name' and 'score' columns of the data :
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

---------------------------------------

Executed successfully on 2022-07-12 15:50:55.012319

Question 9
> Write a Python program to select the specified columns and rows from a given data frame.\
> Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [10]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The 'name' and 'score' columns of the data : \n{pandas_data[['name', 'score']].iloc[[1, 3, 5, 6]]}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The 'name' and 'score' columns of the data :
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

---------------------------------------

Executed successfully on 2022-07-12 16:00:55.282059

Question 10
> Write a Python program to select the rows where the number of attempts in the examination is greater than 2.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [11]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The rows where the number of attempts in the examination is greater than 2 : \n{pandas_data[pandas_data.attempts > 2]}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The rows where the number of attempts in the examination is greater than 2 :
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

---------------------------------------

Executed successfully on 2022-07-12 16:07:05.294218

Question 11
> Write a Python program to count the number of rows and columns of a DataFrame.\
> Sample data:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [36]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The number of rows of the DataFrame : {len(pandas_data)}")
    # print(f"The number of rows of the DataFrame : {len(pandas_data.iloc[:,2])}")
    print(f"The number of columns of the DataFrame : {len(pandas_data.keys())}")
    # print(f"The number of columns of the DataFrame : {len(pandas_data.iloc[2])}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The number of rows of the DataFrame : 10
The number of columns of the DataFrame : 4

---------------------------------------

Executed successfully on 2022-07-12 16:44:05.959008

In [42]:
print(pandas_data['score'][pandas_data.index == 'd'])

d   NaN
Name: score, dtype: float64

Question 12
> Write a Python program to select the rows where the score is missing, i.e. is NaN.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [37]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The rows where the score is missing, i.e. is NaN : \n{pandas_data[pandas_data.score.isnull()]}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The rows where the score is missing, i.e. is NaN :
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

---------------------------------------

Executed successfully on 2022-07-12 16:54:10.479332

Question 13
> Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
>

In [38]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The rows where number of attempts in the examination is less than 2 and score greater than 15 : \n{pandas_data[pandas_data.score>15][pandas_data.attempts<2]}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The rows where number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

---------------------------------------

Executed successfully on 2022-07-12 17:00:02.523999

<ipython-input-38-b4814b916b97>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(f"The rows where number of attempts in the examination is less than 2 and score greater than 15 : \n{pandas_data[pandas_data.score>15][pandas_data.attempts<2]}")

Question 14
> Write a Python program to change the score in row 'd' to 11.5.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [43]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data['score'][pandas_data.index == 'd'] = 11.5
    print(f"Changed data : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Changed data :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---------------------------------------

Executed successfully on 2022-07-12 17:17:00.118427

<ipython-input-43-03faa32074cd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandas_data['score'][pandas_data.index == 'd'] = 11.5

Question 15
> Write a Python program to calculate the sum of the examination attempts by the students.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [44]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    temp = pandas_data['attempts']
    print(f"The sum of the examination attempts by the students : \n{temp.sum()}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The sum of the examination attempts by the students :
19

---------------------------------------

Executed successfully on 2022-07-12 19:07:03.164308

Question 16
> Write a Python program to calculate the mean score for each different student in DataFrame.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [50]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The mean score for each different student in DataFrame : \n{pandas_data['score'].mean()}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The mean score for each different student in DataFrame :
13.5625

---------------------------------------

Executed successfully on 2022-07-12 19:18:34.001190

Question 17
> Write a Python program to append a new row 'k' to data frame with given values for\
> each column. Now delete the new row and return the original DataFrame.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']\
> Values for each column will be:\
> name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
>

### Method 1

In [51]:
name_data = {
            'name': "Suresh",
            'score': 15.5,
            'attempts': 1,
            'qualify': 'yes'
            }

name_label = ['k']
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    name_data = pd.DataFrame(name_data, name_label)
    data = pd.concat([pandas_data,name_data])
    print(f"The dataframe with appended value : \n{data}")
    data = data.drop('k')
    print(f"\n---------------------------------------\n")
    print(f"The dataframe with appended value : \n{data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The dataframe with appended value :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

---------------------------------------

The dataframe with appended value :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---------------------------------------

Executed successfully on 2022-07-12 19:33:08.439011

### Method 2

In [55]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data.loc['k'] = ['Suresh', 15.5, 1, 'yes']
    print(f"The dataframe with appended value : \n{pandas_data}")
    pandas_data = pandas_data.drop('k')
    print(f"\n---------------------------------------\n")
    print(f"The dataframe with deleted value : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The dataframe with appended value :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

---------------------------------------

The dataframe with deleted value :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---------------------------------------

Executed successfully on 2022-07-12 19:36:30.005221

Question 18
> Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']\
> Values for each column will be:\
> name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
>

In [58]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data.loc['k'] = ['Suresh', 15.5, 1, 'yes']
    print(f"The DataFrame sorted by 'name' in descending order : \n{pandas_data.sort_values('name', ascending=False)}")
    print(f"\n---------------------------------------\n")
    print(f"The DataFrame sorted by 'score' in ascending order : \n{pandas_data.sort_values('score')}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The DataFrame sorted by 'name' in descending order :
        name  score  attempts qualify
k     Suresh   15.5         1     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

---------------------------------------

The DataFrame sorted by 'score' in ascending order :
        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
k     Suresh   15.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

---------------------------------------

Executed successfully on 2022-07-12 19:57:42.111525

Question 19
> Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [59]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data['qualify'][pandas_data.qualify == 'yes'] = True
    pandas_data['qualify'][pandas_data.qualify == 'no'] = False
    print(f"The edited DataFrame : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The edited DataFrame :
        name  score  attempts qualify
a  Anastasia   12.5         1    True
b       Dima    9.0         3   False
c  Katherine   16.5         2    True
d      James    NaN         3   False
e      Emily    9.0         2   False
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
j      Jonas   19.0         1    True

---------------------------------------

Executed successfully on 2022-07-12 19:57:49.691729

<ipython-input-59-0eabe05edb05>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandas_data['qualify'][pandas_data.qualify == 'yes'] = True
<ipython-input-59-0eabe05edb05>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandas_data['qualify'][pandas_data.qualify == 'no'] = False

Question 20
> Write a Python program to delete the 'attempts' column from the DataFrame.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [60]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data = pandas_data.drop('attempts', axis=1)
    print(f"The edited DataFrame : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The edited DataFrame :
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

---------------------------------------

Executed successfully on 2022-07-12 20:04:13.194260

Question 21
> Write a Python program to insert a new column in existing DataFrame.\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
>

In [61]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    pandas_data['age'] = [23, 24 ,31, 32, 26 ,21, 34, 35, 36, 28]
    print(f"The edited DataFrame : \n{pandas_data}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The edited DataFrame :
        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   23
b       Dima    9.0         3      no   24
c  Katherine   16.5         2     yes   31
d      James    NaN         3      no   32
e      Emily    9.0         2      no   26
f    Michael   20.0         3     yes   21
g    Matthew   14.5         1     yes   34
h      Laura    NaN         1      no   35
i      Kevin    8.0         2      no   36
j      Jonas   19.0         1     yes   28

---------------------------------------

Executed successfully on 2022-07-12 20:07:06.703427

Question 22
> Write a Python program to iterate over rows in a DataFrame.
>

In [62]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    for i, r in pandas_data.iterrows():     # Iterate over DataFrame rows as (index, Series) pairs.
        print(f"{r['name']} : {r['score']}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

Anastasia : 12.5
Dima : 9.0
Katherine : 16.5
James : nan
Emily : 9.0
Michael : 20.0
Matthew : 14.5
Laura : nan
Kevin : 8.0
Jonas : 19.0

---------------------------------------

Executed successfully on 2022-07-12 20:13:23.376295

Question 23
> Write a Python program to get list from DataFrame column headers.\
> Sample data:\
> exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',\
> 'Laura', 'Kevin', 'Jonas'],\
> 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],\
> 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],\
> 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}\
> labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [64]:
try:
    print(f"\n---------------------------------------\n")
    pandas_data = pd.DataFrame(exam_data, labels)
    print(f"The list from DataFrame column headers : \n{pandas_data.columns.to_list()}")
    print(f"The list from DataFrame column index : \n{pandas_data.index.to_list()}")
    print(f"\n---------------------------------------\n")
except Exception as e:
    print(f"Error : {e}")
else:
    print(f"Executed successfully on {datetime.datetime.now()}")

---------------------------------------

The list from DataFrame column headers :
['name', 'score', 'attempts', 'qualify']
The list from DataFrame column index :
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

---------------------------------------

Executed successfully on 2022-07-12 20:18:13.536102